[submodule "brainfix"]
	path = brainfix
	url = https://github.com/jorenheit/brainfix.git
[submodule "asmbf"]
	path = asmbf
	url = https://github.com/kspalaiologos/asmbf.git
[submodule "zkbrainfuck"]
	path = zkbrainfuck
	url = https://github.com/mohanson/zkbrainfuck.git
